@import 'src/vars';

.shop-item {
  padding: 1rem 2rem;

  p {
    font-size: 1.1rem;
    width: 75%;
    letter-spacing: .5px;
    line-height: 1.6;
  }

  button {
    margin-top: auto;
    height: 3rem;
    background-color: transparentize($primary, .5);
    border: 2px solid $primary;
    padding: 1rem 2rem;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    letter-spacing: .5px;
    align-items: center;
    transition: .3s background-color;
    &:hover {
      background-color: $primary;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:not(:last-of-type) {
    border-bottom: 2px dashed $primary;
  }
}

.shop {
  width: 50vw;
  @media(max-width: 1400px) {
    width: 70vw;
  }

  @media(max-width: 1000px) {
    width: 90vw;;
  }

  background-color: $darker;
  padding: 1rem;
}
