@import "src/vars.scss";

$animDuration: 2.5s;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.reset {
  opacity: 1 !important;
}

.notification {
  align-self: stretch;
  display: grid;
  position: fixed;
  border: 5px solid $primary;
  bottom: 5%;
  padding: 0.83rem 1rem;
  border-bottom: 0;
  place-items: center;
  transform: translateY(-50%);
  font-weight: normal;
  z-index: 2;
  background-color: transparentize(darken($primary, 50), 0.1);
  width: 60vw;
  @media (max-width: 768px) {
    width: 90vw;
  }
  font-size: 1rem;
  text-align: center;
  overflow: visible;
  animation: fadeIn 0.5s forwards,
    fadeOut calc($animDuration * 0.2) forwards calc($animDuration * 0.9);
}

.error {
  background-color: transparentize($color: #770000, $amount: 0.1);
}

.success {
  background-color: transparentize($color: darken(green, 10), $amount: 0.1);
}

@keyframes sizeAnim {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.bar {
  position: absolute;
  bottom: 0;
  height: 5px;
  background-color: $primary;
  justify-self: start;
  animation: $animDuration sizeAnim forwards linear;
}
