@import "src/vars.scss";

$animDuration: 2.5s;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.notification {
  align-self: stretch;
  display: grid;
  position: fixed;
  border: 5px solid $primary;
  padding: 1rem;
  border-bottom: 0;
  place-items: center;
  font-weight: bold;
  z-index: 2;
  background-color: darken($primary, 50);
  font-size: 2rem;
  overflow: visible;
  animation: fadeIn 1s forwards,
    fadeOut calc($animDuration * 0.2) forwards calc($animDuration * 0.8);
}

@keyframes sizeAnim {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.bar {
  position: absolute;
  bottom: 0;
  height: 5px;
  background-color: $primary;
  justify-self: start;
  animation: $animDuration sizeAnim forwards linear;
}
