@import 'src/vars';

.cart {
  width: 50vw;
  @media(max-width: 1400px) {
    width: 70vw;
  }

  p {
    font-weight: 500;
    text-align: center;
  }

  @media(max-width: 1000px) {
    width: 90vw;;
  }
  border: 3px solid $primary;
  margin-top: 3rem;
  padding: 1rem 2rem;
  background-color: black;
  background-image:  linear-gradient(135deg, #FB257644 25%, transparent 25%), linear-gradient(225deg, #FB257644 25%, transparent 25%), linear-gradient(45deg, #FB257644 25%, transparent 25%), linear-gradient(315deg, #FB257644 25%, black 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;

  .header {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
