@import 'src/vars.scss';

$border: 4px solid;

.navigation {
  width: 100%;
  display: flex;
  padding-block: 2rem;
  justify-content: space-evenly;
  background-color: $darker;
  align-items: center;

  h1 {
    font-size: 2.7rem;
  }

  button {
    text-align: center;
    padding: 1rem 1.5rem;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    border: $border $primary;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s all;
    font-weight: 500;

    .cartItems {
      padding: 0 .5rem;
      border: 2px dashed lighten($color: $primary, $amount: 30);
      color: lighten($color: $primary, $amount: 30);
      transition: .3s all;
    }

    &:hover {
      background-color: white;
      color: $dark;
      border: 4px solid $primary;

      .cartItems {
        background-color: $primary;
        border-color: $primary !important;
        color: $bright;
      }
    }
  }
}
